.profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0 0;
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 100%;
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 170px;
    }
}